@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-main;
  }
  :not(.message *) > ::selection {
    background: #fcd34d;
  }
}

@layer components {
  .footer-btn {
    @apply relative w-40 h-20 p-2 font-mono text-xl font-bold bg-white border-4 border-black border-solid sm:w-48 min-w-fit rounded-xl shadow-footer-btn hover:shadow-none hover:top-2 leading-tight;
  }
  .hack-btn {
    @apply w-48 h-20 px-2 py-2 font-mono font-bold bg-black border-4 border-white border-solid min-w-fit;
  }
  .channel-name {
    @apply px-1 bg-gray-300 hover:bg-discord-vibrant hover:text-white hover:cursor-pointer rounded;
  }
  .message:nth-child(3) {
    @apply sm:right-[22rem] !important;
  }
  .message:nth-child(4) {
    @apply sm:left-[22rem] !important;
  }
}
