@import url('../public/font/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media print {
    @page :first {
      margin: 0 0 15mm 0;
    }
    @page {
      margin-top: 15mm;
      margin-bottom: 15mm;
      margin-left: 0;
      margin-right: 0;
    }
  }
  body {
    @apply font-main;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  :not(.message *) > ::selection {
    background: #fcd34d;
  }
}

@layer components {
  .footer-btn {
    @apply relative w-40 h-20 sm:w-48 min-w-fit p-2 font-mono text-xl font-bold bg-white border-4 border-black border-solid rounded-xl shadow-footer-btn hover:shadow-none hover:top-2 leading-tight;
  }
  .email-btn {
    @apply relative px-4 py-2 font-mono text-base font-bold bg-white border-2 border-black border-solid min-w-fit rounded-sm shadow-email-btn hover:shadow-none hover:top-1 hover:left-1 leading-tight;
  }

  .dark-action-btn {
    @apply relative px-4 py-2 font-mono text-base font-bold bg-white border-2 border-black border-solid min-w-fit rounded-sm shadow-dark-action-btn hover:shadow-none hover:top-[6px] hover:left-[6px] leading-tight;
  }
  .spray-btn {
    @apply relative px-3 py-1 font-mono text-sm font-bold text-white border-2 border-white border-solid min-w-fit hover:scale-110;
  }
  .hack-btn {
    @apply w-48 h-20 px-2 py-2 font-mono font-bold bg-black border-4 border-white border-solid min-w-fit;
  }
  .channel-name {
    @apply px-1 bg-discord-vibrant text-white hover:cursor-pointer rounded;
  }
  .message:nth-child(3) {
    @apply sm:right-[22rem] !important;
  }
  .message:nth-child(4) {
    @apply sm:left-[22rem] !important;
  }
  .no-ring {
    @apply focus:ring-0 focus:ring-offset-0 focus:border-black !important;
  }
  .sponsor-overflow {
    position: relative;
    left: -80px;
    width: calc(100% + 160px);
  }
  .page-break {
    display: none;
  }
  @media print {
    .sponsor-overflow {
      position: static;
      left: 0;
      width: auto;
    }
    .page-break {
      display: block;
      visibility: hidden;
      break-before: page;
    }
  }
}
